git-chglog      0.15.4          /app/repo/.tool-versions
java            adoptopenjdk-17.0.4+101 /app/repo/.tool-versions
maven           3.8.7           /app/repo/.tool-versions
nodejs          18.4.0          /app/repo/.tool-versions
semver          3.4.0           /app/repo/.tool-versions