# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).
This project uses [Conventional Commits](https://www.conventionalcommits.org) to ease CHANGELOG generation.

{{#tags}}
{{#ifEquals name "Unreleased"}}{{else}}
## [{{name}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/compare/{{extended.oldest_tag}}...{{name}}) ({{tagDate .}})

{{#ifContainsBreaking commits}}
### Breaking changes

{{#commits}}
{{#ifCommitBreaking .}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{subString hash 0 5}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/commit/{{hash}})) {{#eachCommitRefs .}}{{#ifMatches . "^#[0-9]+"}} [{{.}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/issues/{{subString . 1}}) {{/ifMatches}}{{/eachCommitRefs}} {{#eachCommitFixes .}}{{#ifMatches . "^#[0-9]+"}} [{{.}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/issues/{{subString . 1}}) {{/ifMatches}}{{/eachCommitFixes}}
{{/ifCommitBreaking}}
{{/commits}}

{{/ifContainsBreaking}}
{{#ifContainsType commits type='feat'}}
### Added

{{#commits}}
{{#ifCommitType . type='feat'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{subString hash 0 5}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/commit/{{hash}})) {{#eachCommitRefs .}}{{#ifMatches . "^#[0-9]+"}} [{{.}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/issues/{{subString . 1}}) {{/ifMatches}}{{/eachCommitRefs}} {{#eachCommitFixes .}}{{#ifMatches . "^#[0-9]+"}} [{{.}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/issues/{{subString . 1}}) {{/ifMatches}}{{/eachCommitFixes}}
{{/ifCommitType}}
{{/commits}}

{{/ifContainsType}}
{{#ifContainsType commits type='fix'}}
### Fixed

{{#commits}}
{{#ifCommitType . type='fix'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{subString hash 0 5}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/commit/{{hash}})) {{#eachCommitRefs .}}{{#ifMatches . "^#[0-9]+"}} [{{.}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/issues/{{subString . 1}}) {{/ifMatches}}{{/eachCommitRefs}} {{#eachCommitFixes .}}{{#ifMatches . "^#[0-9]+"}} [{{.}}](https://{{extended.host}}/{{ownerName}}/{{repoName}}/issues/{{subString . 1}}) {{/ifMatches}}{{/eachCommitFixes}}
{{/ifCommitType}}
{{/commits}}


{{/ifContainsType}}

{{/ifEquals}}
{{/tags}}